
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
		<span id="back_wrapper">
			<a href="/profile" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
        <span id="title_wrapper">
			All users (<%= users.length %>)
		</span>
        <div id="profile">
                <a href='/logout' >
                        Sign Out
                        <img src="/images/exit.png" alt="" style="vertical-align:middle">
                </a>
        </div>
</div>

<div class="main">
        <table id="allUsers">
                <tr>
                        <td>Name</td>
                        <td>Username</td>
                        <td>Admin</td>
                </tr>
                <% for (let u of users) { %>
                        <tr>
                                <td><%= u.name%> </td>
                                <td><%= u.username %> </td>
                                <%if(u.isAdmin){%>
                                <td>+</td>
                                <%}else{%>
                                <td>-</td>
                                <%}%>
                        </tr>
                <% } %>
        </table>
</div>
</body>
</html>
