<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Folders</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
	<script>
        function imgError(image) {
            image.onerror = "";
            image.src = "/images/folder.png";
            return true;
        }
	</script>
</head>
<body>
<div class="header">
	<a href="/" target="_self">
		<img src="/images/back.png" alt="Back" title="Back">
	</a>
	<div>Choose a folder</div>
</div>
<div class="main">
	<div class="flex">
        <%for(let f of folders){ %>
		<div class="item">
			<a href="/folders/f<%=f.id%>" target="_self">
				<img src="/images/<%=f.img%>" alt="<%=f.name%>" onerror="imgError(this)"> <%=f.name%>
			</a>
		</div>
		<%}%>
	</div>
</div>
</body>
</html>
