<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Create a New Account</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
		<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
	<span id="title_wrapper">
			Create a New Account
		</span>
</div>
<div class="main">
	<div id="createUser">
		<form action='/register' method='POST'>
			<label>Name:</label><br>
			<input type='text' id="inputStyle" name='name' class='form-control' value='name' /><br>
			<label>Username:</label><br>
			<input type='text' id="inputStyle" name='username' class='form-control' value='user' /><br>
			<label>Password:</label><br>
			<input type='password' id="inputStyle" name='password' class='form-control' value='' /><br>
			<button type='submit' class='btn btn-primary' id="createB">Register</button><br>
		</form>
	</div>
</div>
</body>
</html>