<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Help</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
	<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
	Help
	<span id="signin_signout">
        <% if (user) { %>
		<div id="profile">
			<a href='/profile' >
				<%= user.login %>
				<img src="/images/user.png" alt="" style="vertical-align:middle">
			</a>
		</div>
        <% } else { %>
		<div id="profile">
			<a href='/register'>Sign In</a>
			<span>  |  </span>
			<a href='/login'>Log In</a>
		</div>
        <% } %>
	</span>
</div>

<div class="main">
	<table id="help">
		<tr>
			<td><img src="/images/addFolder.png" alt="addFolder" onerror="imgError(this)"></td>
			<td><b>Add new folder</b></td>
		</tr>
		<tr>
			<td><img src="/images/addFile.png" alt="add file" onerror="imgError(this)"></td>
			<td><b>Add new file</b></td>
		</tr>
		<tr>
			<td><img src="/images/deleteAll.png" alt="remove" onerror="imgError(this)"></td>
			<td><b>Delete folder with its all children</b></td>
		</tr>
		<tr>
			<td><img src="/images/folderDelete.png" alt="remove" onerror="imgError(this)"></td>
			<td><b>Delete all children in current folder</b></td>
		</tr>
		<tr>
			<td><img src="/images/fileDelete.png" alt="remove" onerror="imgError(this)"></td>
			<td><b>Delete file</b></td>
		</tr>
		<tr>
			<td><img src="/images/download.png" alt="download" onerror="imgError(this)"></td>
			<td><b>Download file</b></td>
		</tr>
		<tr>
			<td><img src="/images/users.png" alt="users" onerror="imgError(this)"></td>
			<td><b>Show all users (for admin)</b></td>
		</tr>
	</table>

</div>
</body>
</html>
