<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Log In</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
		<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
	<span id="title_wrapper">
			Log In
		</span>
</div>

<div class="main">
	<div id="createUser">
		<form action='/login' method='POST'>
			<label>Username:</label><br/>
			<input name='username' id="inputStyle" value='user' /><br/>
			<label>Password:</label><br/>
			<input type='password' id="inputStyle" name='password' value='pass' /><br/>
			<input type='submit' value="Login" id="createB"/>
		</form>
	</div>
</div>
</body>
</html>