<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>

<div class="header">
		<span id="back_wrapper">
			<a href="/" target="_self">
				<img src="/images/back.png" alt="Back" title="Back">
			</a>
		</span>
	<span id="title_wrapper">
			<%= user.login %> (<%= user.name %>)
		</span>
	<div id="profile">
		<a href='/logout' >
			Sign Out
			<img src="/images/exit.png" alt="" style="vertical-align:middle">
		</a>
	</div>
</div>

<div class="main">
</div>
</body>
</html>
