<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Remove user</title>
	<link type="text/css" href="/stylesheets/style.css" rel="stylesheet">
</head>
<body>

<div class="header">
	<span id="back_wrapper">
		<a href="/" target="_self">
			<img src="/images/back.png" alt="Back" title="Back">
		</a>
	</span>
	<span id="title_wrapper">
        Remove
	</span>

</div>
<div class="main">
	<p>User has folders, by removing user, his folders will be also removed. <br>Do you want to proceed?
	</p>
	<form action="/users/u<%= user.id %>/removeUser/" method="post">
		<button id="remove" type="submit">
		</button>
	</form>
</div>
</body>
</html>